<%- include ('../../parts/head') %>

<body>
    <!--  NAVBAR  -->
    <% if(page.user == "Profissional") { %>
        <%- include ('../../parts/navbar/NavbarProfissional') %>
    <% } else { %>
        <%- include ('../../parts/navbar/Navbar') %>
    <% } %>

    <!--  SUBNAVBAR  -->
    <%- include ('../../parts/navbar/subNavbar') %>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <% if(page.user == "Profissional") { %>
            <%- include ('../../parts/sidebarProfissional') %>
        <% } else { %>
            <%- include ('../../parts/sidebar') %>
        <% } %> 

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-spacing">
                    <div class="col-xl-12 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
                        <div class="bio layout-spacing ">
                            <div class="widget-content widget-content-area">
                                <div class="widget-content searchable-container list">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
                                            <div class="d-flex justify-content-sm-start justify-content-left">
                                                <h3 class="">Textos Motivacionais 
                                                    <a class="btn btn-primary mt-2" href="/texto/add">
                                                        add
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="bio-skill-box">
                                    <div class="row">
                                        <% for( let i = 0; i < materiais.length; i++ ) { %>
                                            <% if (materiais[i].txt_motivacional != null) { %> 
                                                <div class="col-md-6">
                                                    <div class="jumbotron">
                                                        <p class="lead mt-3 mb-4">
                                                            <%= materiais[i].txt_motivacional %>
                                                        </p>

                                                        <a href="/texto/edit/<%= materiais[i].id %>" class="btn btn-secondary mt-2">
                                                            Editar
                                                        </a>
                                                    </div>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>

    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="/assets/js/custom.js"></script>
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/js/apps/contact.js"></script>
</body>
</html>