<div class="form-row">
    <h4><%= page.name %> <%= page.type %> motivacional</h4>
</div>

<% if(page.type == "imagem") { %>
    <div class="form-row">
        <div class="col-md-12 mb-12">
            <label for="validationTooltip02">URL Imagem</label>
            <input type="url" class="form-control" id="validationTooltip02"
                placeholder="http://" name="url_imagem" <% if(page.name == "Editar") { %>
                value="<%= material[0].url_imagem %>" <% } %>>
        </div>
    </div>
<% } %>


<% if(page.type == "video") { %>
    <div class="form-row">
        <div class="col-md-12 mb-12">
            <label for="validationTooltip02">Id Video Youtube</label>
            <input type="text" class="form-control" id="validationTooltip02"
                name="video_id" <% if(page.name == "Editar") { %>
                value="<%= material[0].video_id %>" <% } %>>
        </div>
    </div>
<% } %>

<% if(page.type == "texto") { %>
    <div class="form-row">
        <div class="col-md-12 mb-12">
            <label for="validationTooltip02">Texto Motivacional</label>
            <textarea class="form-control" name="txt_motivacional" id="validationTooltip02" rows="7" maxlength="500" ><% if(page.name == "Editar") { %><%= material[0].txt_motivacional %><% } %></textarea>
        </div>
    </div>
<% } %>


<% if(page.name == "Editar") { %>
    <button class="btn btn-secondary mt-2" type="submit">Editar</button>
<% } %>

<% if(page.name == "Adicionar" ) { %>
    <button class="btn btn-primary mt-2" id="store-button" type="submit" onclick="disableButton()">Gravar</button>
<% } %>