<div class="form">
    <div class="form-row">
        <h4><%= page.name %> Profissional e Clínica</h4>
    </div>

    <div class="form-row">
        <div class="col-md-5 mb-5">
            <label for="validationTooltip01">Nome:*</label>

            <input type="text" class="form-control" id="validationTooltip01" placeholder="Nome" name="nome" 
            <% if(page.name == "Editar") { %> value="<%= profissional.nome %>" <% } %> required>

        </div>

        <div class="col-md-5 mb-5">
            <label for="validationTooltipUsername">Email:*</label>
            <div class="input-group">
                <input type="email" class="form-control" id="validationTooltipUsername" placeholder="Email"
                    aria-describedby="validationTooltipUsernamePrepend" name="email" 
                    <% if(page.name == "Editar") { %> value="<%= profissional.email %>" <% } %> required>
            </div>
        </div>

        <div class="col-md-2 mb-5">
            <label for="validationTooltipUsername">CRP:*</label>
            <div class="input-group">
                <input type="text" class="form-control" id="validationTooltip02" placeholder="CRP"
                    aria-describedby="validationTooltipUsernamePrepend" name="crp"
                    <% if(page.name == "Editar") { %> value="<%= profissional.crp %>" <% } %> maxlength="7" required>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12 mb-5">
            <label for="validationTooltip03">Bio:*</label>

            <textarea class="form-control" name="bio" id="validationTooltip03" rows="7" maxlength="520" placeholder="Sobre mim" required><% if(page.name == "Editar") { %><%= profissional.bio %><% } %></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-5">
            <label for="validationTooltip04">Endereço:*</label>
            <input type="text" class="form-control" id="validationTooltip04"
                placeholder="Rua" name="endereco" 
                <% if(page.name == "Editar") { %> value="<%= profissional.endereco %>" <% } %> required>

        </div>

        <div class="col-md-2 mb-5">
            <label for="validationTooltip05">Número:*</label>
            <input type="text" class="form-control" id="validationTooltip05"
                placeholder="nº" name="numero" 
                <% if(page.name == "Editar") { %> value="<%= profissional.numero %>" <% } %> required>

            <div class="valid-tooltip">
                Ok
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <label for="validationTooltip06">Cidade:*</label>
            <input type="text" class="form-control" id="validationTooltip06"
                placeholder="Cidade" name="cidade" 
                <% if(page.name == "Editar") { %> value="<%= profissional.cidade %>" <% } %> required>

            <div class="valid-tooltip">
                Ok
            </div>
        </div>

        <div class="col-md-2 mb-5">
            <label for="validationTooltip07">Estado:*</label>
            <input type="text" class="form-control" id="validationTooltip07"
                placeholder="Estado" name="estado"
                <% if(page.name == "Editar") { %> value="<%= profissional.estado %>" <% } %>  maxlength="2" required>

            <div class="valid-tooltip">
                Ok
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-5">
            <label for="validationTooltip08">CEP:*</label>
            <input type="text" class="form-control" id="validationTooltip08"
                placeholder="XXXXX-XXX" name="cep" maxlength='8'
                <% if(page.name == "Editar") { %> value="<%= profissional.cep %>" <% } %>
                required>

            <div class="valid-tooltip">
                Ok
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <label for="validationTooltip09">Telefone:*</label>
            <input type="text" class="form-control" id="6"
                placeholder="(XX) XXXXX-XXXX" name="telefone" 
                <% if(page.name == "Editar") { %> value="<%= profissional.telefone %>" <% } %> maxlength="15" required>

            <div class="valid-tooltip">
                Ok
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <label for="validationTooltipUsername">CNPJ:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="validationTooltip13" placeholder="CNPJ"
                    aria-describedby="validationTooltipUsernamePrepend" name="cnpj" 
                    <% if(page.name == "Editar") { %> value="<%= profissional.cnpj %>" <% } %> maxlength="14">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12 mb-5">
            <label for="validationTooltip10">Url Foto de Perfil:*</label>
            <input type="text" class="form-control" id="validationTooltip10"
                placeholder="https://" name="url" 
                <% if(page.name == "Editar") { %> value="<%= profissional.url %>" <% } %> required>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-5">
            <label for="validationTooltip11">Senha:*</label>

            <input type="password" class="form-control" id="validationTooltip11" placeholder="Senha" name="senha"
                required>

            <div class="invalid-tooltip">
                Preencha todos os campos!
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <label for="validationTooltip12">Repita senha:*</label>

            <input type="password" class="form-control" id="validationTooltip12" placeholder="Digite sua senha novamente"
                name="senhaRepetida" onblur="validar()" required>

            <div class="invalid-tooltip">
                Preencha todos os campos!
            </div>
        </div>
    </div>

    <% if (page.name == "Adicionar") { %>
        <p class="signup-link">Já tem cadastro? <a href="/login">Entrar</a></p>
        <button class="btn btn-primary mt-2" id="store-button" type="submit">Gravar</button>
    <% } %>

    <% if (page.name == "Editar") { %>
        <button class="btn btn-secondary mt-2" type="submit">Editar</button>
    <% } %>
</div>