<%- include ('../parts/head') %>

<body>
    <!--  NAVBAR  -->
    <%- include ('../parts/navbar/NavbarProfissional') %>
    <!--  SUBNAVBAR  -->
    <%- include ('../parts/navbar/subNavbar') %>
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <%- include ('../parts/sidebar') %>

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-spacing">
                    <!-- Content -->
                    <div class="col-xl-12 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

                        <div class="bio layout-spacing ">
                            <div class="widget-content widget-content-area">
                                <h3 class="">Materiais de apoio</h3>
                                <div class="bio-skill-box">
                                    <div class="row">
                                        <% for( let i = 0; i < materiais.length; i++ ) { %>
                                            <div class="d-flex b-skills">
                                                <img src="<%= materiais[i].url_imagem %>" width="550px" height="300px">
                                            </div>

                                            <div class="d-flex b-skills">
                                                <iframe width="550" height="300" 
                                                    src="https://www.youtube.com/embed/<%= materiais[i].video_id %>"
                                                    frameborder="0" allow="accelerometer; autoplay;clipboard-write;
                                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                                </iframe>
                                            </div>

                                            <div class="d-flex b-skills">
                                                <h6 class="media-text">
                                                    <%= materiais[i].txt_motivacional %>
                                                </h6>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>