<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <ul class="collapse submenu list-unstyled show" id="dashboard" data-parent="#accordionExample">
                    <li>
                        <a href="/materiais/<%= profissional.id %>">Material de Apoio</a>
                    </li>

                    <li>
                        <a href="/material/add/<%= profissional.id %>">Add Material Apoio</a>
                    </li>

                    <li>
                        <a href="/material/list/<%= profissional.id %>">Editar Material Apoio</a>
                    </li>

                    <li>
                        <a href="/profissional/edit/<%= profissional.id %>">Editar Perfil</a>
                    </li>

                    <li>
                        <a href="/meu-perfil/<%= profissional.id %>">Meu Perfil</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>